@import "../variables.scss";

.navbar {
	background: $secondaryColor;
	border-bottom: 1px solid $tertiaryColor;
	height: 72px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);

	@mixin avatar {
		width: 35px;
		height: 35px;
		border-radius: 50%;
	}

	&__header {
		display: flex;
		align-items: center;

		.homeButton {
			text-decoration: none;
			display: flex;
			align-items: center;
			padding-inline: 50px;
			gap: 10px;

			.avatar {
				@include avatar;
			}

			.botTitle {
				color: $headerColor;
				font-size: 22px;
			}
		}
	}

	.loginButton {
		background: $accentColor;
		border-radius: 5px;
		padding: 10px 15px;
		color: $headerColor;
		font-size: 16px;
		text-decoration: none;
		transition: all 200ms ease;
		font-size: 0.8rem;
		display: flex;
		align-items: center;
		gap: 10px;
		margin-inline: 20px;

		&__icon {
			font-size: 18px;
		}

		&:hover {
			background: $accentColorHover;
		}
	}

	.profileButton {
		text-decoration: none;
		display: flex;
		align-items: center;
		gap: 10px;
		padding-inline: 20px;

		&__avatar {
			@include avatar;
			transition: all 200ms ease;
		}

		&__textData {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			line-height: 1;
			gap: 5px;

			.username {
				color: $headerColor;
				font-size: 14px;
				transition: all 200ms ease;
			}

			.elo {
				color: $textSecondary;
				font-size: 12px;

				&::after {
					content: " TP";
				}
			}
		}

		&:hover .profileButton {
			&__textData .username {
				color: $accentColor;
			}

			&__avatar {
				border-radius: 25%;
			}
		}
	}
}
