yarn.lock

.env*
*.sqlite

node_modules/

logs/

src/commands/
src/events/

src/structures/EndMessage.js
src/structures/Lobby.js
src/structures/User.js
src/structures/Guild.js
src/structures/GlobalData.js

src/server/
src/modals/
src/buttons/
src/index.js