.glitchText {
	position: relative;

	@mixin textElement($left, $color) {
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: $left;
		width: 100%;
		height: 100%;
		color: $color;
		z-index: -1;
	}

	&::before {
		@include textElement(-2px, #fd648f);
	}

	&::after {
		@include textElement(2px, #00ff99);
	}
}
