@import "./variables.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::selection {
	background: $accentColor;
	color: $headerColor;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: $darkColor;
}

::-webkit-scrollbar-thumb {
	background: $secondaryColor;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
	background: $tertiaryColor;
}

html,
body {
	width: 100dvw;
	height: 100dvh;
	overflow-x: hidden;
	background: $primaryColor;
}

main {
	width: 100dvw;
	min-height: calc(100dvh - 72px);
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}
