@import "./variables.scss";

@keyframes bounce {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
		transform: scaleY(1);
		animation-timing-function: ease-out;
	}

	10% {
		transform: scaleY(8);
		animation-timing-function: ease-in;
	}

	30% {
		transform: scaleY(4);
		animation-timing-function: ease-in;
	}

	50% {
		transform: scaleY(2);
		animation-timing-function: ease-in;
	}

	70% {
		transform: scaleY(1.5);
		animation-timing-function: ease-in;
	}
}

.pageContent {
	min-height: calc(100dvh - 72px);
	background: linear-gradient(180deg, $primaryColor 50%, $footerColor 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.pl {
		align-items: flex-end;
		justify-content: space-between;
		display: flex;
		margin: 1.5em;
		width: 6em;
		height: 6em;

		&__a {
			background: hsl(3, 90%, 55%);
			animation: bounce 2s linear infinite;
			transform-origin: 50% 100%;
			width: 0.75em;
			height: 0.75em;
		}

		&__b {
			background: hsl(33, 90%, 55%);
			animation: bounce 2s linear infinite 0.1s;
			transform-origin: 50% 100%;
			width: 0.75em;
			height: 0.75em;
		}

		&__c {
			background: hsl(223, 90%, 55%);
			animation: bounce 2s linear infinite 0.2s;
			transform-origin: 50% 100%;
			width: 0.75em;
			height: 0.75em;
		}

		&__d {
			background: hsl(273, 90%, 55%);
			animation: bounce 2s linear infinite 0.3s;
			transform-origin: 50% 100%;
			width: 0.75em;
			height: 0.75em;
		}
	}

	.title {
		color: $headerColor;
		font-size: 1.5dvw;

		@media screen and (max-width: $mobileWidth) {
			font-size: 6.5dvw;
		}
	}

	.subtitle {
		color: $textSecondary;
		font-size: 1dvw;

		@media screen and (max-width: $mobileWidth) {
			font-size: 4dvw;
			text-align: center;
		}
	}
}
