$primaryColor: #161619;
$secondaryColor: #1f1f24;
$tertiaryColor: #24242a;
$quaternaryColor: #2a2a30;

$headerColor: #ffffff;
$textPrimary: #cacaca;
$textSecondary: #a8a8a8;
$textTertiary: #4d4d53;

$footerColor: #232331;

$darkColor: #0d0d0d;

$accentColor: #5865f2;
$accentColorHover: darken($accentColor, 10%);

$green: #2dcf61;
$red: #f04747;

$mobileWidth: 768px;
