@import "../variables.scss";

.pageContent {
	padding: 50px 25dvw;
	background: linear-gradient(180deg, $primaryColor 0%, $footerColor 100%);

	@media screen and (max-width: $mobileWidth) {
		padding: 50px 5dvw;
	}

	h1 {
		font-size: 3.5rem;
		margin-bottom: 1rem;
		color: $headerColor;

		@media screen and (max-width: $mobileWidth) {
			font-size: 2.5rem;
		}
	}

	h2 {
		font-size: 2rem;
		margin-top: 3rem;
		margin-bottom: 1rem;
		color: $headerColor;

		@media screen and (max-width: $mobileWidth) {
			font-size: 2rem;
		}
	}

	h3 {
		font-size: 1.2rem;
		margin-top: 3rem;
		margin-bottom: 1rem;
		color: $headerColor;
	}

	p {
		font-size: 1rem;
		color: $textSecondary;
	}

	a {
		color: $accentColor;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		padding-left: 50px;
		margin-block: 15px;

		li {
			margin-bottom: 5px;
			color: $textSecondary;
		}
	}
}
