@import "../../variables.scss";

.history {
	display: flex;
	flex-direction: column;
	gap: 15px;
	background: $darkColor;
	border: 1px solid $secondaryColor;
	border-radius: 10px;
	width: 100%;
	overflow: hidden;
	padding: 15px;
	height: fit-content;

	&:has(.history__content:empty) {
		display: none;
	}

	&__title {
		color: $headerColor;
		font-size: 1.5rem;
		text-align: center;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 15px;

		.game {
			padding: 15px;
			background: $secondaryColor;
			border-radius: 10px;

			&__head {
				display: flex;
				justify-content: space-between;
				align-items: center;

				&__name {
					$color: #c9cdfb;
					$background: #5865f24d;

					background: $background;
					color: $color;
					font-size: 1rem;
					padding: 5px 10px;
					border-radius: 5px;
					width: fit-content;
					cursor: default;

					&::before {
						content: "/";
					}
				}

				&__result {
					padding: 5px 10px;
					color: $headerColor;
					border-radius: 5px;
					font-size: 1rem;

					&[data-content="0"] {
						background: $red;
					}

					&[data-content="1"] {
						background: $quaternaryColor;
					}

					&[data-content="2"] {
						background: $green;
					}
				}
			}

			&__type {
				color: $textPrimary;
				font-size: 1.2rem;
				margin-block: 10px;
			}

			&__time {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: auto;
				gap: 10px;

				&__date {
					color: $textTertiary;
					font-size: 0.8rem;
					text-align: right;
				}

				&__duration {
					color: $textTertiary;
					font-size: 0.8rem;
				}
			}
		}
	}
}
