@import "../../variables.scss";

.pageContent {
	padding: 50px 10dvw;
	display: flex;
	gap: 50px;
	background: linear-gradient(180deg, $primaryColor 50%, $footerColor 100%);
	min-height: calc(100dvh - 72px);

	@media screen and (max-width: $mobileWidth) {
		flex-direction: column;
		padding: 25px 5dvw;
		gap: 25px;
	}

	.side {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 50px;

		@media screen and (max-width: $mobileWidth) {
			gap: 25px;
		}
	}
}

.pageError {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100dvh - 72px);
	background: linear-gradient(180deg, $primaryColor 50%, $footerColor 100%);

	.error {
		color: $headerColor;
		font-size: 8dvw;
		line-height: 1;
	}

	.title {
		color: $textTertiary;
		font-size: 3dvw;
		line-height: 1;
	}
}
